


<div class="content-wrapper">
  <div id="content">

    <h2>LTH Forum - Great Neighborhood Restaurants and Resources</h2>

    <p>The Great Neighborhood Restaurants and Resources are a crazy mish-mash of great places, nominated by members of LTHForum.com and chosen by all of us. They started as an answer to the one question we always get – “Can you tell us what places you love?” and have grown to become a full list of spots we love and are happy to recommend to anyone. These are destinations all over Chicagoland, restaurants to try if you want to get a true sense of the depth and breadth of the food scene in our city.</p><br>

    <p>Sure, each GNR has great food – or, in the case of a resource, great products to offer. However, some of them are uniformly great, while others have one or two can’t-miss specialties surrounded by other things that are not so special. So be sure to read the notes about any GNR you are considering; that way, you’ll know why it is a GNR and what we love about it.</p><br>

    <p>The list is more skewed toward little neighborhood joints than fancy-schmancy gourmet spots, but there are some of each -  and the distinctions between them get more and more blurred with each year that passes. So pick a place or two or twenty, try them out, and let us know what you think. And maybe next year you can help us choose the new and renewed GNRs.</p><br>
  </div>


</div>
